.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(44, 50, 62, 0.92);
    z-index: 2;
}

#overlay-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    max-width: 95vw;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay-img img {
    max-height: 100vh;
}
